<mat-card class="paycardBg">
  <mat-card-subtitle *ngIf="title" class="alert alert-secondary">{{
    title
  }}</mat-card-subtitle>

  <form [formGroup]="payForm" autocomplete="off" novalidate>
    <div class="input-group">
      <mat-form-field class="w-100">
        <mat-label>Payment For</mat-label>
        <input
          matInput
          type="text"
          name="paymentFor"
          formControlName="paymentDescription"
        />
      </mat-form-field>
    </div>
    <div class="input-group">
      <mat-form-field class="w-100">
        <mat-label>Email Id</mat-label>
        <input matInput type="email" name="emailId" formControlName="emailId" />
      </mat-form-field>
    </div>
    <div class="input-group">
      <mat-form-field class="w-100">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          type="number"
          name="mobno"
          formControlName="mobileNumber"
        />
      </mat-form-field>
    </div>
    <div class="input-group">
      <mat-form-field class="w-100">
        <mat-label>Amount To Pay</mat-label>
        <input matInput type="text" name="amt" formControlName="amount" />
      </mat-form-field>
    </div>

    <!-- <div class="input-group flex-nowrap">
        <span class="input-group-prepend">	{{amoutPreFix}}	</span>
				<mat-form-field>
					<mat-label>Amount To Pay</mat-label>
					<input matInput	type="text" formControlName="amount" />
				</mat-form-field>
			</div> -->
  </form>
  <mat-card-footer>
    <div class="d-flex justify-content-end mr-3 mb-2">
      <button
        mat-stroked-button
        color="primary"
        (click)="makePayment()"
        [disabled]="isPayBtnDisable"
      >
        Pay
      </button>
    </div>
  </mat-card-footer>
</mat-card>
<div class="pt-4 text-muted contentDisclamir">
  <h3 class="mb-2 pl-3">MyCLNQ consultation Guidelines</h3>
  <ol>
    <li>
      For any questions please email to
      <a href="mailto:info@ssivixlab.com">info@ssivixlab.com</a> and MyCLNQ team
      will reach out within 1-2 working days.
    </li>
    <li>MyCLNQ is a facilitator to connect doctor and end-patient.</li>
    <li>
      MyCLNQ will not be responsible for any conflict or dispute during online
      consultation, laboratory test or medicine delivery.
    </li>
    <li>
      MyCLNQ comply PDPA and GDPR in terms of personal health data. For more
      details please read
      <a target="_blank" href="https://www.ssivixlab.com/privacypolicy.htm"
        >MyCLNQ privacy policy</a
      >
    </li>
  </ol>
</div>
