$white: white;
$dark-grey: #4a4a4a;
$light-grey: #b9b9b9;
$brand-color: #e7412c;
$footerBg: #1a237e;
$scrollbar-track-color: $light-grey;
$scrollbar-track-piece-color: $white;
$scrollbar-thumb-color: $light-grey;
$scrollbar-corner-color: $light-grey;

.header {
  .brand-text {
    color: $brand-color;
    a {
      color: $brand-color;
      text-decoration: none;
    }
    position: relative;
    vertical-align: middle;
    padding-left: 6px;
    &:before {
      border-left: 2px dotted #71bb1d;
      width: 2px;
      height: 100%;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .header nav h2 {
    margin-left: -8px;
  }
}
.bg-blue {
  color: $white;
  background-color: $footerBg;
}
.contentDisclamir {
  font-size: 13px;
}
.paycardBg {
  background-color: #f3f7fc;
  border-top: 2px solid #f5ce18;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;
}
::-webkit-scrollbar-track-piece {
  background-color: $scrollbar-track-piece-color;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: $light-grey;
  border-radius: 36px;
}
::-webkit-scrollbar-corner {
  background-color: $scrollbar-corner-color;
}
::-webkit-resizer {
  background-color: $dark-grey;
}

.notfound {
  .notFound-title {
    color: $brand-color;
    font-size: 5em;
    line-height: 60px;
    height: 60px;
    font-weight: 100;
  }
  .subtext {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  a {
    color: $brand-color;
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px dashed $brand-color;
    border-radius: 2px;
  }
}
