/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: url('./assets/PngItem_6073873.png') no-repeat;
    background-size: 100% 100%;
}
